<!-- templates/login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-container">
            <h2>ログイン</h2>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <form method="POST" class="login-form">
                <div class="form-group">
                    <label for="username">ユーザネーム</label>
                    <input type="text" id="username" name="username" required><br><br>
                </div>
                <div class="form-group">
                    <label for="password">パスワード</label>
                    <input type="password" id="password" name="password" required><br><br>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="remember_me">
                    <label for="remember_me">ログイン状態を保持する</label><br><br>
                </div>                
                <input type="submit" value="ログイン" class="submit-button">
            </form>
        </div>
    </div>
</body>
</html>
